<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Translate4Muslim | Homepage{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('/build/app.css') }}" />
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% if not app.user %}
            {% block script %}
                {{ encore_entry_script_tags('script')}}
            {% endblock %}
        {% endif %}
    </head>
    <body>
        {# header #}
        {% block header %}
            <header>
                <div id="header_div_1" class="header_div_1">
                    <h1 id="header_div_h1" class="header_div_h1">Translate4Muslim</h1>
                </div>
                <hr style="width: 90%;margin:auto;">
                <div id="header_div_2" class="header_div_2">
                    <ul div="header_div_2_ul" class="header_div_2_ul">
                        <li><a id='home' href="/index">Home</a></li>
                        {% if app.user %}
                            <li><a id='dashboard' href="/dashboard">Dashboard</a></li>
                            <li><a id='profile' href="/profile">Profile</a></li>
                        {% endif %}
                        <li><a id='sign-in' href="{{ not app.user ? '#Sign-in/Sign-up=?true' : '/logout' }}" > {{ not app.user ? 'Sign-in/up' : 'Logout' }} </a></li>
                        <li><a id='Contact' href="/contact">Contact</a></li>
                    </ul>
                </div>
            </header>
        {% endblock %}
        {# body #}

        {% block main %}
            <main>
            {% if not app.user %}
                <div id='sign-in_area_div' class='sign-in_area'>
                    <div id='sign_in_div_id' class='sign_in_div_id'>
                    {{ form_start(sign_in_form) }}
                        {{ form_row(sign_in_form.email) }}
                        {{ form_row(sign_in_form.password) }}
                        {{ form_row(sign_in_form.keep) }}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">     
                        <button id='sign-in_submit' class='form_submit' type='submit'> Sign-in </button>
                    {{ form_end(sign_in_form) }}
                        <span id='new_user_span' class='form_span_class'>New User</span>
                    </div>
                    
                    <div id='sign_up_div_id' class='sign_up_div_id'>
                    {{ form_start(sign_up_form) }}
                        {{ form_row(sign_up_form.username) }}
                        {{ form_row(sign_up_form.email) }}
                        {{ form_row(sign_up_form.password) }}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">     
                        <button id='sign-up_submit' class='form_submit' type='submit'> Sign-up </button>
                    {{ form_end(sign_up_form) }}
                        <span id='current_user_span' class='form_span_class'>Current User</span>
                    </div>
                </div>
            {% endif %}
            </main>
        {% endblock %}
        {# footer #}
        {% block footer %}
            <footer>
                <p>&copy; 2023 Translate4Muslim created by Boustani Mohamed</p>
            </footer>
        {% endblock %}
    </body>
</html>
